body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.beatmap-table {
  border: 1px solid black;
}

.beatmap-table,
td {
  padding: 5px;
}

.beatmap-table tbody > tr:nth-child(4n-1) {
  background-color: rgba(128, 128, 128, 0.1);
}

.beatmap-table thead {
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.5);
}

tr td.beatmap-table-complete {
  background-color: green;
}

tr td.beatmap-table-partial {
  background-color: darkgoldenrod;
}
tr td.beatmap-table-unplayed {
  background-color: maroon;
}

.hidden-row {
  display: none;
}

.make-row-visible {
  display: table-row;
}

.admin-panel {
  background-color: red;
}

.beatmap-table-subtable {
  width: 100%;
  border: 1px solid black;
}

.beatmap-table-subtable thead {
  font-size: 16px;
}
